.DS_Store
.gradle
.idea
.intellijPlatform
.kotlin
.qodana
/docker/app.js
/docker/dmn-diff.js
/docker/dmn-js-differ/
/docker/node_modules
/docker/styles.css
/docker/bpmn-diff.js
/docker/utils.js
build
